test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test


# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Paraglide
src/lib/paraglide

/../generated/prisma

# Base de données et sauvegardes
/data/
backups/
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log
